@import './flex.scss';
//@import './layout.scss';

.thumbnail {
   object-position: center;
   object-fit: cover; 
}

.picture {
   max-width: 100%;
}

.footnote {
   font-size: .8rem;
}

[attr='href']{
   svg, img {
      cursor:pointer;
  }
} 

.expand { width: 100%; }
.stretch { height: 100%; }
.fill {
   @extend .expand;
   @extend .stretch;
}
.vh-stretch { height: 100vh; }
.compact {
   width: clamp(10rem, 20rem, 70vw);
   max-width: 30rem;
}