@import '../amplify/all.scss';

body {
   margin: 0;
   --text-mute: #C8C8C8;
   --text: #bcbcbc;
   --primary: #363636;
   --p-light: #efebe7;
   --secondary: #97A5AA;
   --s-light: #e6e8ea;
   --dark: #333333;
}
